@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
    color: #6C0443;
}
.active {
    font-weight: bold;
}
.yarl__root {
    width: 60%;
    height: 80%;
    margin: auto;
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
}
.yarl__slide {
    background-color: white;
}
.yarl__thumbnails_track {
    background-color: white !important;
}
.yarl__thumbnails_thumbnail {
    background-color: white !important;
}
.yarl__thumbnails_container {
    background-color: white !important;
}
.yarl__icon{
    background-color: black;
}
.yarl__navigation_next, .yarl__navigation_prev{
    display: none;
}
@media (max-width: 1024px) {
    .yarl__root {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}
